body{
    border: 2px solid black;
}
span{
    font-style: italic;
    animation: animatedSpan 5s infinite;
}

@keyframes animatedSpan{

    from{
        font-size: 10px;
        color: white;
    }to{
        font-size: 20px;
        color: lime;
    }
}