<!DOCTYPE html>
<html>
<head>  
    <title>Template</title>
   
 <link rel="stylesheet" type="text/css" href="CSS/body.css">
   
 <link rel="stylesheet" type="text/css" href="CSS/styles.css">
  
  <link rel="stylesheet" type="text/css" href="CSS/table.css">
    
</head>
<body>  


<div class="divMain">

    <h1>It's not as hard as it looks</h1>



<div class="divDoggie">


<img src="images/doggie.jpg" />


</div>


<div class>
<p class="slogan1">It doesn’t matter if the glass is half full or half empty if you think you can make a better glass.</p>
<p class="slogan2"><span class="spanstyle">Working smart</span> is harder than working hard. It’s just less visible, and we care too much about what others see.</p>
<p class="slogan3">I don't believe in<span class="spanstyle"> luck </span> or in hard work without the so called <span class="spanstyle">"work smart"</span>. It's not all about how you work hard but it's about how you manage your time, resources, mind to work together for a better output</p>
</div>
    
</body>
</html>